<section class="customer-order col-md-12">

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers">
      <td>{{customer.name}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.active ? 'Ativo' : 'Desativado'}}</td>
      <td class="btn-actions">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="customerModal(true, customer)"></span>
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="removeCustomer(customer)"></span>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary btn-xs" data-toggle="modal" ng-click="customerModal()">Adicionar</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</section>