<section class="customer-order col-md-12">

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>José</td>
      <td>+55 11 987653212</td>
      <td>jose@customer.com</td>
      <td>Ativo</td>
      <td class="btn-actions">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Excluir"></span>
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="Excluir"></span>
      </td>
    </tr>
    </tbody>
  </table>
</section>