<section class="customer-order col-md-12">
  <table>
    <thead>
    <tr>
      <td>Name</td>
      <td>Preço</td>
      <td>Porcentagem</td>
      <td>Status</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.percentage}}</td>
      <td>{{product.active ? 'Ativo' : 'Desativado'}}</td>
      <td class="btn-actions">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="productModal(true, product)"></span>
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="removeProduct(product)"></span>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary btn-xs" data-toggle="modal" ng-click="productModal()">Adicionar</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</section>