<div class="jumbotron">
  <div class="container">

    <h2>Login</h2>

    <div>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <input type="email" class="form-control" ng-model="loginForm.email" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-lock "></span>
        <input type="password" class="form-control" ng-model="loginForm.password" placeholder="Senha">
      </div>
      <button type="button" class="btn btn-default" ng-click="login(loginForm)">Sign in</button>
    </div>
  </div>

  <button class="btn btn-default btn-sm" ng-click="test()" >Test</button>
</div>
