<section class="customer-order col-md-12">
  <table>
    <thead>
    <tr>
      <td>Name</td>
      <td>Phone</td>
      <td>Email</td>
      <td>Status</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="professional in professionals">
      <td>{{professional.name}}</td>
      <td>{{professional.phone}}</td>
      <td>{{professional.email}}</td>
      <td>{{professional.active ? 'Ativo' : 'Desativado'}}</td>
      <td class="btn-actions">
        <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="professionalModal(true, professional)"></span>
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="removeProfessional(professional)"></span>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary btn-xs" data-toggle="modal" ng-click="professionalModal()">Adicionar</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</section>