<div class="fluid-container">
  <div class="col-md-12"><h5>Boa tarde, 04 de Março - Quarta-Feira</h5></div>
  <aside class="customers-list col-md-6">
    <table>
      <thead>
      <tr>
        <td>Clientes em atendimento</td>
        <td>Valor</td>
        <td></td>
      </tr>
      </thead>
      <tr ng-repeat="sale in sales">
        <td>{{sale.customer.name}}</td>
        <td>{{sale.total}}</td>
        <td class="btn-actions"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#add-customer">Adicionar</button>
        </td>
        <td colspan="3"></td>
      </tr>
    </table>
  </aside>

  <!--<section class="customer-order col-md-6">-->

    <!--<div class="customer-infos">-->
      <!--<span>Cliente</span><h4><strong>Camila Soares</strong></h4>-->
      <!--<span>Permanência: 01:23:43</span>-->
    <!--</div>-->
    <!--<table class="customer-itens">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<td>Item</td>-->
        <!--<td>Profissional</td>-->
        <!--<td>Valor</td>-->
        <!--<td></td>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tr>-->
        <!--<td>Mão Decorada</td>-->
        <!--<td>Ana Paula</td>-->
        <!--<td>R$25,00</td>-->
        <!--<td class="btn-actions">-->
          <!--<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Excluir"></span>-->
          <!--<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="Excluir"></span>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>Escola Progressiva - Cabelo Comprido</td>-->
        <!--<td>Jane</td>-->
        <!--<td>R$200,00</td>-->
        <!--<td class="btn-actions">-->
          <!--<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Excluir"></span>-->
          <!--<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="Excluir"></span>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>Coca-Cola Zero Lata 355ml</td>-->
        <!--<td></td>-->
        <!--<td>R$5,50</td>-->
        <!--<td class="btn-actions">-->
          <!--<span class="glyphicon glyphicon-edit" aria-hidden="true" title="Excluir"></span>-->
          <!--<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="Excluir"></span>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>-->
          <!--<select class="form-control">-->
            <!--<option value="" disabled selected>Serviço/Produto</option>-->
            <!--<optgroup label="Manicure">-->
              <!--<option>Mão Simples - R$20</option>-->
              <!--<option>Mão Decorada - R$25</option>-->
              <!--<option>Mão Francesinha - R$23</option>-->
              <!--<option>Mão Francesinha - R$23</option>-->
              <!--</opgroup>-->
              <!--<optgroup label="Cabelo">-->
                <!--<option>Escova - Cabelo Curto - R$50</option>-->
                <!--<option>Escova - Cabelo Comprido - R$70</option>-->
              <!--</optgroup>-->
              <!--<optgroup label="Bebidas">-->
                <!--<option>Coca-Cola Zero Lata 355ml- R$5,50</option>-->
                <!--<option>Água C/Gás - Lindoya - 340ml - R$4,00</option>-->
              <!--</optgroup>-->
            <!--</optgroup>-->
          <!--</select>-->
        <!--</td>-->
        <!--<td colspan="2">-->

          <!--<select class="form-control">-->
            <!--<option value="" disabled selected>Profissional</option>-->
            <!--<option>Solange</option>-->
            <!--<option>Elizete</option>-->
            <!--<option>Ana Paula</option>-->
          <!--</select>-->
        <!--</td>-->
        <!--<td class="save-item">-->
          <!--<button class="btn btn-success btn-md"><span class="glyphicon glyphicon-ok" aria-hidden="true"-->
                                                       <!--title="Excluir"></span></button>-->
          <!--<button class="btn btn-danger btn-md"><span class="glyphicon glyphicon-remove" aria-hidden="true"-->
                                                      <!--title="Excluir"></span></button>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td colspan="4">-->
          <!--<button class="btn btn-primary btn-lg btn-block">Adicionar Produto/Serviço</button>-->
        <!--</td>-->

      <!--</tr>-->
      <!--<tfoot>-->
      <!--<tr>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td>Total</td>-->
        <!--<td>R$234,00</td>-->
      <!--</tr>-->
      <!--</tfoot>-->
    <!--</table>-->
    <!--<button class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#payment-modal">-->
      <!--Pagar R$234.00 <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>-->
    <!--</button>-->

  <!--</section>-->
</div>
