<div class="container">
	<div class="login col-md-4 col-md-offset-4 panel">
	  <form class="">
	    <h4>Bem vindo ao <strong>HoraVip(Beta)</strong></h4>
	    <p>Estamos em fase de testes, se você já é usuário do BETA, entre agora usando o seu e-mail e senha já cadastrados.</p>
    		<div class="form-group">
    			<label>E-mail</label>
	        <input type="email" class="form-control" ng-model="loginForm.email" placeholder="usuario@email.com">
        </div>
        <div class="form-group">
	        <label>Senha</label>
	        <input type="password" class="form-control" ng-model="loginForm.password" placeholder="****">
        </div>
		    <div class="form-group">
			    <button type="submit" class="btn btn-default" ng-click="submitLogin(loginForm)">Entrar</button>
		    </div>
		  <p>Ainda não tem conta? <a href="/new">Criar conta</a></p>
	  </form>
	</div>
</div>
