<section class="headline">
	<div class="container">
		<div class="col-md-6">
			<h1>Vamos te ajudar a profissionalizar seu salão de beleza</h1>
			<h5>Vamos organizar seu fluxo de caixa, calcular de comissões automaticamente e
			cadastrar seus seus clientes, profissionais, produtos e serviços.<br>
			<br>
			Ah, e acredite se quiser, tudo isso é GRÁTIS*. </h5><br>
			<button class="btn btn-primary">Vamos começar agora?</button>
		</div>
	</div>
</section>
<div class="container">
	<section class="features">
		<div class="col-md-4">
		<h4>Seus produtos, serviços, profissionais e clientes em um só lugar... Aqui</h4>
		<p>Sim, vamos unificar produtos e serviços, você pode de 
		maneira simples, cadastrar, editar tudo que monetiza no seu salão, e cada item pode
		ter uma comissão customizada, legal não?</p>
		</div>
		<div class="col-md-4">
		<h4>Já pensou em ver todas as comissões em tempo real? Sorria, isso existe!</h4>
		<p>Calcular comissões sempre foi um momento penoso, não no horavip, aqui as comissões são lançadas em tempo real, saiba exatamente quanto precisa pagar e se precisar fazer um vale, tudo bem! também te ajudamos a controlar isso!</p>
		</div>
		<div class="col-md-4">
		<h4>Funciona em qualquer computador, tablet, celular e quem sabe relógios!</h4>
		<p>Esqueça tudo que já lhe ofereceram para automatizar seu salão, sistemas complexos e repetitivos
		não é nossa área, fizemos tudo usando nossa expêriencia de 16 anos ramo de salão de beleza, nada de aplicativos complicados e caros, você vai nos amar <3</p>
		</div>
		

	</section>
	<div class="login col-md-4 col-md-offset-4 panel">
	  <form class="">
	    <h4>Bem vindo ao <strong>HoraVip(Beta)</strong></h4>
	    <p>Estamos em fase de testes, se você já é usuário do BETA, entre agora usando o seu e-mail e senha já cadastrados.</p>
    		<div class="form-group">
    			<label>E-mail</label>
	        <input type="email" class="form-control" ng-model="loginForm.email" placeholder="usuario@email.com">
        </div>
        <div class="form-group">
	        <label>Senha</label>
	        <input type="password" class="form-control" ng-model="loginForm.password" placeholder="****">
        </div>
		    <div class="form-group">
			    <button type="submit" class="btn btn-default" ng-click="submitLogin(loginForm)">Entrar</button>
		    </div>
		  <p>Ainda não tem conta? <a href="/new">Criar conta</a></p>
	  </form>
	</div>
</div>
