<nav class="topnav" role="navigation">
  <a ng-href="/dashboard"><h1 class="logo">Hora Vip</h1></a>
  <ul>
    <li ng-if="loggedIn"><a ng-href="/dashboard">Atendimento</a></li>
    <li ng-if="loggedIn"><a ng-href="/reports">Relatórios</a></li>
    <li ng-if="loggedIn"><a ng-href="/customers">Clientes</a></li>
    <li ng-if="loggedIn"><a ng-href="/professionals">Profissionais</a></li>
  	<li ng-if="loggedIn"><a ng-href="/products">Serviços/Produtos</a></li>
  	<li ng-if="loggedIn"><a ng-click="logout()"> Sair</a></li>
  </ul>
</nav>
